@import url(https://fonts.googleapis.com/css2?family=Noto+Sans%3Awght%40700&family=Poppins%3Awght%40600&display=swap%27%29%3B);

body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    height: 1080px;
}

.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    /* esconde todo o conteúdo que sobrepõe o content*/
    position: absolute;
    /*serve para posicionar algo em qualquer lugar da tela*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*corrige a imagem para o centro*/
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    /*barra para passar as imagens*/
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover{
    background-color: #fff;
}

input{
    display: none;
    /*esconde as bolinhas de input*/
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

.vip{
    margin-left: 70px; 
    margin-top: 20px;
    font-weight: bold; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e6cd75;
}