.div-cadastro{
    width: 700px;
    height: 900px;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
    position: absolute;
    padding: 30px;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -150%);
}

body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
}

